body {
    margin: 0;
    padding: 0 0 0 0;
    font-family: sans-serif;
    background-color: #383838;
    color: #fff;
    font-size: 16px;
}

a {
    background-color: #222121;
    color: #fff;
}

/* table styling */
.table {
    color: #fff;
    font-size: 1.3rem;
}

th {
    color: rgb(230, 226, 5);
}

.table th {
    border: none;
}

.table thead th {
    border: none;
}

/* navbar */

.navbar{
    background-color: #222121;
    margin-bottom: 2rem;
}

.navbar-toggler {
    background: #383838;
}

/* buttons */

.btn-add {
    background: rgb(230, 226, 5);
}
.btn-add:hover {
    background: rgb(253, 249, 7);
}

.btn-large {
    padding: 10px 80px;
}

.btn {
    color: #292727;
}

 /* pagination */
ul .pagination {
    background: red;
}

.page-link {
    color: #fff;
    background: #222121;
    border: 1px solid rgb(156, 154, 9);
}

.page-item.active .page-link {
    background: rgb(230, 226, 5);
    color: black;
}

.page-link:hover {
    cursor: pointer;
    background: rgb(230, 226, 5);
    color: black;
}